:root{
    --background: #B384F8
    --nav-background: #230931
    --rectangle1: #DFCEFF
    --rectangle2: #230931
    --button1: #230931
    --button2: #FFFFFF

    /*Fonte*/
    --cad-h1: #000000
    --hero-h1: #FFFFFF

}